<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= message %></p>
    <table width="50%">
      <thead>
        <tr style="background:#ccc">
          <td width="50%">Nome</td>
          <td width="50%">Idade</td>
          <td width="50%">UF</td>
          <td width="50%">Ações</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4">
              <a href="/new">Cadastrar Novo</a>
          </td>
        </tr>
      </tfoot>
        </table>

</html>
